<div class="container mt-3 white-box">
    <h3 class="text-center">Home</h3>
    <div class="row g-3">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Proyecto</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iste impedit blanditiis sunt consectetur voluptatibus, animi, at similique et suscipit laudantium fugit architecto aliquid obcaecati hic illo quasi dolore vel.</p>
                    <a href="#" class="card-link">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Proyecto</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iste impedit blanditiis sunt consectetur voluptatibus, animi, at similique et suscipit laudantium fugit architecto aliquid obcaecati hic illo quasi dolore vel.</p>
                    <a href="#" class="card-link">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>